{{loginForm.value | json}}
<form [formGroup]="loginForm" (submit)="submitForm()">
    <div>
        <label for="">Username</label>
        <input type="text" formControlName="username">
        <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
            <p *ngIf="f.username.errors?.required">Hãy nhập username</p>
        </div>
    </div>
    <div>
        <label for="">Mật khẩu</label>
        <input type="password" formControlName="password">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            <p *ngIf="f.password.errors?.required">Hãy nhập password</p>
        </div>
    </div>
    <div>
        <button type="submit" [disabled]="!loginForm.valid">Đăng nhập</button>
    </div>

</form>