{{formObject | json}}
<h2>Post form</h2>
<div>
    <label for="">Tên bài viết</label>
    <input type="text" [(ngModel)]="formObject.title">
</div>
<div>
    <label for="">Ảnh bài viết</label>
    <input type="text" [(ngModel)]="formObject.imgUrl">
</div>
<div>
    <label for="">Danh mục</label>
    <input type="text" [(ngModel)]="formObject.catename">
</div>
<div>
    <label for="">Mô tả</label>
    <textarea name="" id="" cols="30" rows="10" [(ngModel)]="formObject.shortDesc"></textarea>
</div>
<div>
    <button (click)="saveForm()">Lưu</button>
    <button>Hủy</button>
</div>