<div class="container">
    <header>
        <nav>
            <ul>
                <li>
                    <a routerLink="/">Trang chủ</a>
                </li>
                <li>
                    <a routerLink="/san-pham">Sản phẩm</a>
                </li>
                <li>
                    <a routerLink="/about">Về chúng tôi</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        footer here
    </footer>
</div>